### **kwargrs

In [8]:
def key_var_len_args(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [9]:
key_var_len_args(name = 'Payal' , age = 20 , education = 'BCA')

<class 'dict'>
{'name': 'Payal', 'age': 20, 'education': 'BCA'}

In [10]:
info = {'Empid': [1,2,3] , 'Emp_name':['payal' , 'Akshay' , 'Sahil']}

## Dictionary Unpacking

In [11]:
key_var_len_args(info)

TypeError: key_var_len_args() takes 0 positional arguments but 1 was given

In [ ]:
key_var_len_args(**info)

<class 'dict'>
{'Empid': [1, 2, 3], 'Emp_name': ['payal', 'Akshay', 'Sahil']}

In [ ]:
info.items()

dict_items([('Empid', [1, 2, 3]), ('Emp_name', ['payal', 'Akshay', 'Sahil'])])

In [ ]:
## output will  be  none  
# because retrun and update used same time
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    return  info.update(kwargs)

In [ ]:
print(form_fill(**info))

None

In [14]:
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    info.update(kwargs)
    return info

In [16]:
form_fill(name = 'Vaishnavi' , Mail = 'payalrayphale@gmail.com' , age  =  20 )

{'Name': None,
 'Mail': 'payalrayphale@gmail.com',
 'Age': None,
 'Adress': None,
 'name': 'Vaishnavi',
 'age': 20}

In [17]:
form_fill(name = 'Vaishnavi' , Mail = 'payalrayphale@gmail.com' , age  =  20 , Gender = 'Female' )

{'Name': None,
 'Mail': 'payalrayphale@gmail.com',
 'Age': None,
 'Adress': None,
 'name': 'Vaishnavi',
 'age': 20,
 'Gender': 'Female'}

In [18]:
info  =  {'Empid' : [1 ,2,3] ,  'Emp_name' : ['Suresh' ,  'Sarthak' ,  'Smita']}

In [22]:
info1 = {"Edu" : 'ME' , 'Gender' : 'Female'} 
info.update({"Edu" : 'ME' , 'Gender' : 'Female'} )

In [23]:
info

{'Empid': [1, 2, 3],
 'Emp_name': ['Suresh', 'Sarthak', 'Smita'],
 'Edu': 'ME',
 'Gender': 'Female'}

In [24]:
## output will  be  none  
# because retrun and update used same time
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    return  info.update(kwargs)

In [25]:
a = info.update({"Edu" : 'ME' , 'Gender' : 'Female'} )

In [26]:

print(a)

None

In [27]:
form_fill(**info)

In [28]:
form_fill(name = 'Prajkta' ,  age  =  25)

In [29]:
info

{'Empid': [1, 2, 3],
 'Emp_name': ['Suresh', 'Sarthak', 'Smita'],
 'Edu': 'ME',
 'Gender': 'Female'}

In [30]:
info['Empid']

[1, 2, 3]

In [31]:
info.get('Empid')

[1, 2, 3]

In [32]:
info['empid']

KeyError: 'empid'

In [34]:

print(info.get('empid'))

None

## Final function

In [35]:
def  form_fill(**kwargs):
    info =  {'Name' : None ,
             'Mail' : None , 
             'Age' : None ,  
             "Adress" : None}
    for  key  , value  in kwargs.items():
        if key.title() in info.keys():
            info[key.title()] = value
    return info

In [36]:
form_fill(name  =  'Sunita' ,  aGe =  23)

{'Name': 'Sunita', 'Mail': None, 'Age': 23, 'Adress': None}

In [37]:
info

{'Empid': [1, 2, 3],
 'Emp_name': ['Suresh', 'Sarthak', 'Smita'],
 'Edu': 'ME',
 'Gender': 'Female'}

In [38]:
form_fill(**info)

{'Name': None, 'Mail': None, 'Age': None, 'Adress': None}

In [39]:

'sunita'.title()

'Sunita'

In [40]:
'sunita Pawar'.title()

'Sunita Pawar'

In [41]:

'sunita Pawar'.capitalize()

'Sunita pawar'

## Create total bill for Restuarant

In [44]:
menu  =  {"Pizza" : 299 , "Sandwich" :  100  ,  "Burgur" : 60}

In [ ]:

food product , quantity
price per food = price * quantity

In [47]:
print(menu.get('Pizza'))

299

In [48]:
print(menu.get('pizza'))
299*2

None

598

In [49]:
menu

{'Pizza': 299, 'Sandwich': 100, 'Burgur': 60}

In [50]:
def  hotel_bill(**food_quantity):
    total_bill  =  0
    for  food  ,  quantity in food_quantity.items() :
        if  menu.get(food.capitalize()) is  not  None:
            price  =  menu.get(food.capitalize())
            Subtotal =  price*quantity
            print(f"Subtotal  of {food} is  {Subtotal}")
            total_bill  =  Subtotal  + total_bill
    return f' total_bill -->{total_bill}'

In [51]:

hotel_bill(pizza = 2)

Subtotal  of pizza is  598

' total_bill -->598'

In [52]:

hotel_bill(pizza = 2 ,  Sandwich  =  3)

Subtotal  of pizza is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [53]:

hotel_bill(pizza = 2 ,  Sandwich  =  3 , Samosa  =  3)

Subtotal  of pizza is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [54]:
hotel_bill(Pizza = 2 ,  Sandwich  =  3 , Samosa  =  3 )

Subtotal  of Pizza is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [55]:
hotel_bill(PiZZA = 2 ,  Sandwich  =  3 , Samosa  =  3 )

Subtotal  of PiZZA is  598
Subtotal  of Sandwich is  300

' total_bill -->898'

In [56]:
money  =  {'500' : 3  ,  '100' :  50 ,  '20' : 4}
money.items()

dict_items([('500', 3), ('100', 50), ('20', 4)])

In [57]:
def Double_money(**Money):
    total_Amount  =  0
    for  Notes  ,  Quantity in  Money.items():
        total_Amount  =  (total_Amount+int(Notes)*Quantity)*2
    return  total_Amount

In [ ]:
Double_money('100' = 5  ,  '10' = 5  , '5'  =  6)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1799090265.py, line 1)

In [59]:
Double_money(**money)

32160