### Polymorphism in operators

In [ ]:
12 + 45    # int

57

In [2]:
34.45 + 23.56 # float

58.010000000000005

In [3]:
'data' + '' + 'science' # str

'datascience'

In [4]:
(12, 3, 5, 6) + (34, 56, 78) #tuple

(12, 3, 5, 6, 34, 56, 78)

In [5]:
12 * 34

408

In [6]:
[1,3,5]*3

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [7]:
'python'*3

'pythonpythonpython'

In [8]:
s = 'python'
len(s)

6

In [9]:
l = [2,4,6]
len(l)

3

In [10]:
t=(3,5,6)
len(t)

3

In [11]:
s1 = {2,3,4,4,5,5,}
len(s1)

4

In [2]:
d = {'name' : ['sunita','neeta' , 'geeta'],
'age' : [23,45,34]}

In [3]:
len(d)

2

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(d)
df

     name  age
0  sunita   23
1   neeta   45
2   geeta   34

In [6]:
len(df)

3

### Polymorphism in class

#- create class with contry and capital and langauage

In [7]:
class India:
    # capital
    def Capital(self):
        print("Capital of india is new delhi")

    # Language
    def Language(self):
        print("Hindi is  widely spoken  language  in India")

    # Frace
class France:
    def Capital(self):
        print("Capital  od France  is  Paris")
    
    def Language(self):
        print("french is the widely spoken  language in france")


# USA
class  USA:
    def Capital(self):
        print("capital  of  USA is  Washington D.C")


    # Language
    def Language(self):
        print(' English is  the widely spoken  language  in USA ')

In [8]:
I =India()

In [9]:
I.Language()

Hindi is  widely spoken  language  in India

In [10]:
I.Capital()

Capital of india is new delhi

In [11]:
F  =  France()

In [12]:
F.Capital()

Capital  od France  is  Paris

In [13]:
F.Language()

french is the widely spoken  language in france

In [14]:
us =  USA()

In [15]:
us.Capital()

capital  of  USA is  Washington D.C

In [16]:
us.Language()

 English is  the widely spoken  language  in USA

### Create class rectange , Circle
- Area , Perimeter